body {
  margin: 0;
  overflow:hidden;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding-top:10px;
    .input-container {
      color:#fff;
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:2%;
      .result-container {
        margin:0 2%;
        padding:0;
        position:relative;
        height:113px;
        width:100%;
        .words {
          position:absolute;
          z-index:1;
          color:rgba(0,0,0,0.87);
          padding: 18.5px 14px;
        }
        .text-box {
          margin:0;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          height:113px;
          width:100%;
        }
      }
      .text-box {
        margin:0 2%;
        .MuiInputBase-root{
          background-color:#fff;
        }
        .MuiFormHelperText-root {
          color:#fff;
        }
      }
    }
  }

  .sentiment {
    .MuiSvgIcon-root {
      color: #282c34;
      background-color: #FCF787;
      border-radius:50%;
      font-size:200px;
    }
  }
}

.invisible {
  opacity:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
